/* reset do css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  /*  background-color: #464343; */
    background-image: url('../img/Canva-blue.jpg');
    font-family: Arial, Helvetica, sans-serif;
    background-size: auto 100vh; 
    font-family: Arial;
    height: 100vh;
    background-size: cover;
}
/* se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 400px) {
    body {
      font-size: 14px;
    }
  }
  /* breakpoint */
@media (min-width: 600px) {
    body {
      font-size: 18px;
    }
}
  /* breakpoint */
@media (min-width: 1200px) {
    body {
      font-size: 18px;
    }
}
header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    background-color: whitesmoke;
    opacity: 0.8;
    position: fixed;    
    width: 100vw;
    top: 0px;
}
.menu a {
    display: block;
    padding: 10px 20px;
}
.menu ul{
    display: flex;
    justify-content:space-around;
}
.menu li {
    list-style: none;
}
a{
    text-decoration: none;
    color:#FF00FF;
}

a:link, a:visited, a:active {
	text-decoration:none;
}
a:hover{
    color : #FF6347; 
    font-size: 150%;
    background:none;
}
.site-title, .site-subtitle{
    text-align: center;
    color: #DA70D6;
}
.site-subtitle{
    font-style: italic;
}
.site-title {
    font-size: 4em;
  }
.img-portfolio{
    height: 180px;
    width: 180px;
}