/* reset do css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  /*  background-color: #464343; */
    background-image: url('../img/Canva-blue.jpg');
    background-size: 100vw 100vh;
    height: 100vh;
    background-size: cover; 
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    color: white;
}
/* se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 400px) {
    body {
      font-size: 14px;
    }
  }
  /* breakpoint */
@media (min-width: 600px) {
    body {
      font-size: 18px;
    }
}
  /* breakpoint */
@media (min-width: 1200px) {
    body {
      font-size: 18px;
    }
}
header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    background-color: whitesmoke;
    opacity: 0.8;
    position: fixed;    
    width: 100vw;
    top: 0px;
    z-index: 1;
}
.menu a {
    display: block;
    padding: 10px 20px;
    transition: background-color 1s, color 2s;
}
.menu a:active,
.menu a:hover{
    color : white;
    /* #FF6347; */
    font-size: 120%;
    background-color:#FF00FF;
}
.menu ul{
    display: flex;
    justify-content:space-around;
}
.menu li {
    list-style: none;
}
a{
    text-decoration: none;
    color:#FF00FF;
}

a:link, a:visited, a:active {
	text-decoration:none;
}
.titulos {
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
    animation: linear 2s animacaoTitulos forwards;
}
@keyframes animacaoTitulos{
    from{

    }
    to{
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}
.site-title, .site-subtitle{
    text-align: center;
    color: #DA70D6;
    font-family: 'Merienda', cursive;
}
.site-subtitle{
    font-style: italic;
}
.site-title {
    font-size: 4em;

}
.sobre,
.portfolio,
.contato{
    padding: 3em;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;  
}
@media(min-width: 1200px){
    .sobre
    .contato{
    max-width: 1200px;
        margin-left: auto;
        margin-right: auto;    
    }
}
.sobre h2,
.contato h2,
.portfolio h2{
    color: #DA70D6;
    font-family: 'Merienda', cursive;    
    margin-bottom: 1.5em;
    font-size: 2em;
}

.sobre p{
    margin-bottom: 1.1em;
    text-indent: 1.5em;
    text-align: justify;
    margin-left: auto;
    margin-right: auto; 

}
.sobre .avatar {
    float: right;
    margin-left: 2em;
}
.sobre .avatar {
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}
@media (min-width: 600px) {
    .sobre .avatar {
      clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
      float: right;
      background-color: pink;
    }
  }
.portfolio .grid {
    display: grid;
    gap: 2em;
}
@media (min-width: 560px) {
    .portfolio .grid {
        grid-template-columns: 240px 240px;
    }
}
@media (min-width: 860px) {
    .portfolio .grid {
        grid-template-columns: repeat(3, 240px);
        align-content: center;
        justify-content: center;
        height: calc(100vh - 8em - 40px);
    }
  }
  @media(min-width: 1200px){
    .portfolio .grid {
        grid-template-columns: repeat(4, 240px);
        align-content: center;
        justify-content: center;               
    }    
}
.portfolio figure{
    text-align: center;
}
.img-portfolio{
    max-width: 400px; 
    height: 220px;  
    width: 100%; 
    transition: transform 500ms;
}
.img-portfolio:hover{
    transform: scale(1.2);
}
.flip-card{
    background-color: purple;
    perspective: 500px;
}
.flip-card:hover .card{
    transform: rotateY(180deg);
}
.card {
    position: relative;
    background-color: red;
    color: black;
    transform-style:preserve-3d;
    transition: transform 3s;
}
.card-front, 
.card-back{
    backface-visibility: hidden;
    position: absolute;
    left: 0;
    top:0;
}
.card-back{
    position: absolute;
    background-color: white;
    height: 220px;  
    width: 100%;
    transform: rotateY(180deg);
}
.contato a{
    color: whitesmoke;
    font-size: 6em;
    transition: text-shadow 1s;


}
.contato a:active,
.contato a:hover{
    text-decoration: none;
    text-shadow: 0px 0px 10px rgb(216, 136, 189);
}
.contato .icons{
    text-align: center;
}
.scrollToTop {
    padding: 4px 8px;
    position: fixed;
    bottom: 8px;
    right: 8px;
    display: block;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    font-size: 0.8em;
  }
  
  .scrollToTop:hover,
  .scrollToTop:active {
    opacity: 0.8;
  }
